<!-- Header image and title-->
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <img src="../assets/img/catNburger.jpg" alt="Cat Burger" style="width: 200px; height:200px;">
        <h1> Eat da Burgers </h1>
    </div>
</div>

<div class="contianer text-center">
    <div class="row">
        <div class="col-md-4">
            <h3>Available Burgers</h3>
            <ul class="list-group">
                <!--<form method="POST" action="burger/updateOne" class="button-size">-->
               
                {{#each burger}}
                {{#unless this.devoured}}
               
                <li class="list-group-item">
                    <h5>{{this.id}}.{{this.burger_name}}
                        <form method="POST" action="burger/updateOne" class="button-size">
                    <input type="hidden" name="burgerid" value={{this.id}}>
        <button type="submit" class="btn btn-default">Devour it!</button>
        </form>
<!--<form method="POST" action="/burger/updateOne?_method=PUT" class="button-size">
    <input type="hidden" type="text" name="burger_name" value={{this.id}}><br>
    <button type="submit" class="btn btn-default">Devour it!</button>
</form>-->
        
                    </h5>
                </li>
                {{/unless}}
                {{/each}}
               <!-- </form>-->
            </ul>
        </div>


        <div class="col-md-4 text center">
            <h3 class="text-muted">Devoured Burgers</h3>
            <ul class="list-group">
                {{#each burger}}
                {{#if this.devoured}}
                <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
                {{/if}}
                {{/each}}
                </form>
            </ul>
        </div>
    </div>

<div class="conatiner">
        <div class="row">
            <div class="col-md-12 text-center">
                <form class="create-update-form" action="burger/insertOne" method="POST">
                    <div class="form-group">
                        <!-- <label for="bg">Burger Name:</label> -->
                        <h5 class="text-center">Enter a burger here then click submit</h5>
                        <textarea type="text" name="burger_name"></textarea><br>
                        <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div><!-- end fourth row -->

        <!-- end bootstrap container -->
    </div>

